{% extends 'base.html.twig' %}

{% block title %}Suggestions{% endblock %}

{% block content %}
    <p>
        These suggestions are generated automatically, so be careful when using them.
        Higher reliability means higher expected results from that choice.
    </p>

    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th style="width: 10%">Number</th>
            <th style="width: 40%">Suggestion</th>
            <th style="width: 20%">Reliability</th>
        </tr>
        </thead>
        <tbody>
        {% for suggestion in pagination %}
            <tr>
                <td class="align-middle">
                    {{ suggestion.number }}
                </td>
                <td class="align-middle">
                    {{ suggestion.data }}
                </td>
                <td class="align-middle">
                    {{ suggestion.reliability }}%
                </td>
            </tr>
        {% endfor %}
        {% if pagination.totalItemCount == 0 %}
            <tr>
                <td colspan="3" class="text-center py-3">
                    There are currently no suggestions.
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}