{% extends 'base.html.twig' %}

{% block title %}Daily Plan Dates{% endblock %}

{% block content %}
    <ul>
        {% for working_day in working_days %}
            <li>
                <a href = {{ path('daily_plan_date', {date : (working_day.format('Y-m-d')) })}}>
                    {{ working_day | date('Y-m-d') }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}