html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body.login-page {
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body.login-page .form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
}

table th a {
    color: var(--bs-body-color);
}

table tr[data-href] {
    cursor: pointer;
}
